@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body {
      font-family: 'Lato', sans-serif;
    }
  }

@layer utilities{
  .saveBtnStyle{
    @apply bg-red-500 opacity-70 hover:opacity-100 text-white font-bold px-5 py-1 text-base rounded-3xl hover:shadow-md outline-none
  }

  .onGroupHover{
    @apply text-gray-100 opacity-50 group-hover:text-lightGray group-hover:opacity-100 ;
  }

  .blueBtnWithScaleEffect{
    @apply bg-primaryBlue opacity-75 hover:opacity-100 transition-all duration-500 hover:scale-105 text-white font-bold p-2 rounded-lg w-28 outline-none
  }

  .blueBtnWithSlideText{
    @apply bg-primaryBlue w-10 h-10 md:hover:w-32 flex justify-around items-center  p-2 rounded-full cursor-pointer outline-none shadow-md overflow-hidden transition-all duration-300
  }
}
  
  /* Hide scrollbar for Chrome, Safari and Opera */
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .onhover-show{
    transform: translateX(100%);
    opacity: 0;
    transition: all 0.3s;
  }
  
  @media (min-width: 768px) {
    .logoutBtn:hover > .onhover-show{
      display: block;
      transform: translateX(0%);
      opacity: 1;
    }
  }


